<style>
    .texto {
        position: absolute;
        color: rgb(13, 14, 13);
        font-size: 22px;
        background-color: rgb(136, 202, 139);
    }
</style>


<div class="container-fluid py-4">
    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-uppercase font-weight-bold">Universidad de alta Calidad</p>
                                <h5 class="font-weight-bolder">
                                    varios estudiantes
                                </h5>
                                <p class="mb-0">
                                    <span class="text-success text-sm font-weight-bolder">+1000</span>
                                    Disfrutaras el lugares
                                </p>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                                <i class="fa fa-users text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-uppercase font-weight-bold">Docentes Profesionales</p>
                                <h5 class="font-weight-bolder">
                                    Calidad
                                </h5>
                                <p class="mb-0">
                                    <span class="text-success text-sm font-weight-bolder">+50</span>
                                    profesores
                                </p>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
                                <i class="fa fa-user-plus text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-uppercase font-weight-bold">Universidad con calidad de aprendizaje</p>
                                <h5 class="font-weight-bolder">
                                    Lo mejor
                                </h5>
                                <p class="mb-0">
                                    <span class="text-danger text-sm font-weight-bolder">100%</span>
                                    Garantizado
                                </p>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
                                <i class="fa fa-bolt text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-uppercase font-weight-bold">Beneficios</p>
                                <h5 class="font-weight-bolder">
                                    Ser unisucreño
                                </h5>
                                <p class="mb-0">
                                    <span class="text-success text-sm font-weight-bolder">100%</span> El mejor
                                </p>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-warning shadow-warning text-center rounded-circle">
                                <i class="fa fa-leaf text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-7 mb-lg-0 mb-4">
            <div class="card z-index-2 h-100">
                <div class="card-header pb-0 pt-3 bg-transparent">

                    <h4>Carrera de Ingenieria Electronica</h4>

                    La ingeniería electrónica es una rama de la ingeniería que se ocupa del diseño, desarrollo y aplicación de dispositivos, sistemas y equipos electrónicos, haciendo uso de principios de la física y las matemáticas. Los ingenieros electrónicos trabajan en diversas áreas que van desde el diseño de circuitos integrados y sistemas de control hasta el desarrollo de tecnologías de comunicación y equipos de electrónica de consumo. Su campo abarca desde la microelectrónica y la electrónica de potencia hasta la robótica y la instrumentación, con el objetivo de crear soluciones innovadoras y eficientes para una amplia gama de industrias y sectores de la sociedad.
                    <br>
                    <br>
                    La ingeniería electrónica implica el diseño, desarrollo y aplicación de dispositivos y sistemas electrónicos utilizando principios de la física y las matemáticas. Esto abarca desde circuitos integrados hasta tecnologías de comunicación, con el propósito de crear soluciones innovadoras para una amplia gama de industrias y aplicaciones en la sociedad.
                    <br>
                    <br>
                    <h5>Universidad de Sucre</h5>
                  Estudiar en la Universidad de Sucre ofrece una serie de beneficios significativos para los estudiantes. Entre estos se encuentran la oportunidad de acceder a una educación de calidad respaldada por un destacado cuerpo docente, lo que garantiza un aprendizaje enriquecedor y de alto nivel. Además, la universidad brinda la posibilidad de participar en proyectos de investigación innovadores, lo que permite a los estudiantes desarrollar habilidades prácticas y conocimientos especializados en sus respectivas áreas de estudio. Asimismo, la institución fomenta un ambiente de aprendizaje colaborativo y una red de contactos profesionales, lo que puede resultar fundamental para el desarrollo de una carrera exitosa y para el crecimiento personal y profesional a largo plazo.
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="card card-carousel overflow-hidden h-100 p-0">
                <div id="carouselExampleCaptions" class="carousel slide h-100" data-bs-ride="carousel">
                    <div class="carousel-inner border-radius-lg h-100">
                        <div class="carousel-item h-100 active" style="background-image: url('/assets/img/real1.jpg');
      background-size: cover;">
                            <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">
                                <div class="icon icon-shape icon-sm bg-white text-center border-radius-md mb-3">
                                    <i class="ni ni-camera-compact text-dark opacity-10"></i>
                                </div>

                            </div>
                        </div>
                        <div class="carousel-item h-100" style="background-image: url('./assets/img/real2.jpg');
      background-size: cover;">
                            <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">
                                <div class="icon icon-shape icon-sm bg-white text-center border-radius-md mb-3">
                                    <i class="ni ni-bulb-61 text-dark opacity-10"></i>
                                </div>



                            </div>
                        </div>
                        <div class="carousel-item h-100" style="background-image: url('./assets/img/real3.jpg');
      background-size: cover;">
                            <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">
                                <div class="icon icon-shape icon-sm bg-white text-center border-radius-md mb-3">
                                    <i class="ni ni-bulb-61 text-dark opacity-10"></i>
                                </div>


                            </div>
                        </div>
                        <div class="carousel-item h-100" style="background-image: url('./assets/img/real4.jpg');
      background-size: cover;">
                            <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">
                                <div class="icon icon-shape icon-sm bg-white text-center border-radius-md mb-3">
                                    <i class="ni ni-bulb-61 text-dark opacity-10"></i>
                                </div>


                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>


</div>