<!DOCTYPE html>
<html>
<head>
    <title>Formulario de Sensor</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <h2>Formulario de Sensor</h2>
    <form action="/principal/guardar" method="post" class="sensor-form">
        <div class="form-group">
            <label for="nombre" class="input-label">Nombre sensor:</label><br>
            <input type="text" id="nombre" name="nombre" class="input-field" required><br><br>
        </div>

        <div class="form-group">
            <label for="ubicacion" class="input-label">Ubicacion:</label><br>
            <input type="text" id="ubicacion" name="ubicacion" class="input-field" required><br><br>
        </div>

        <div class="form-group">
            <label for="tipo" class="input-label">Tipo:</label><br>
            <input type="text" id="tipo" name="tipo" class="input-field" required><br><br>
        </div>

        <div class="form-group">
            <label for="latitud" class="input-label">Latitud:</label><br>
            <input type="text" id="latitud" name="latitud" class="input-field" required><br><br>
        </div>

        <div class="form-group">
            <label for="longitud" class="input-label">Longitud:</label><br>
            <input type="text" id="longitud" name="longitud" class="input-field" required><br><br>
        </div>
<button
 class="btn btn-primary btn-block btn-lg w-100 mt-4 mb-0">
            Registrar
    </form>
</body>
</html>
